/* lato-regular - latin */
@font-face {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
  src: url('./css/Lato/lato-v16-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Lato Regular'), local('Lato-Regular'),
       url('./css/Lato/lato-v16-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./css/Lato/lato-v16-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('./css/Lato/lato-v16-latin-regular.woff') format('woff'), /* Modern Browsers */
       url('./css/Lato/lato-v16-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('./css/Lato/lato-v16-latin-regular.svg#Lato') format('svg'); /* Legacy iOS */
}

* {
  font-family: Lato !important;
}

html, body, #root, .App {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
  overflow: hidden;
}

@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fade {
  animation-name: fade;
  animation-duration: .8s;
}

.quick { 
  animation-duration: .2s;
}

.in {
  animation-direction: normal;
  animation-fill-mode: forwards;
}

.out {
  animation-direction: reverse;
  animation-fill-mode: forwards;
}

/* DEFAULTS */

.App *, .App *:before, .App *:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  transition: 
    background .5s ease,
    color .5s ease,
    /* padding .5s ease, */
    /* margin .5s ease, */
    border .5s ease,
    opacity .5s ease;
}


/* SCROLLBAR */

::-webkit-scrollbar {
  width: .5rem;
  height: .8rem;
}

::-webkit-scrollbar-track {
  background: #e9e9e9;
}

::-webkit-scrollbar-thumb {
  background: #949494;
}

::-webkit-scrollbar-thumb:hover {
  background: #727272;
}


input {
  border: none;
  outline: none;
}

.main {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  height: 100%;
}

.home {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  align-items: center;
  justify-content: center;
}

.home > *:not(:last-child) {
  margin-bottom: 1rem;
}

.home > input {
  text-align: center;
  font-size: 3rem;
  font-weight: bold;
  width: 100%;
}

.home > .join {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 3rem;
  width: 10rem;
  background: transparent;
  border: none;
  border-radius: .5rem;
  font-size: 1.5rem;
  opacity: 0;
  transition: opacity 2s ease, background 1s ease, color 1s ease;
}

.home > .join:focus {
  border: none;
  outline: none;
}

.home > .join:enabled:hover {
  background: black;
  color: white;
  cursor: pointer;
}

.home > .join:enabled {
  opacity: 1;
}

.chat {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  height: 100%;
  padding: 3rem 0 3rem 0;
}

.chat > * {
  padding: 0 3rem 0 3rem;
}

.chat > .room {
  font-size: 3rem;
  font-weight: bold;
  padding-bottom: 1rem;
}

.chat > .users > *:not(:first-child):not(:last-child):after {
  content: ", ";
}

.chat > .users > *:not(:first-child) {
  padding: 0 .1rem 0 .1rem !important;
}

.chat > .output {
  display: flex;
  flex-direction: column;
  flex: 1 1;
  overflow: auto;
}

.chat > .output > *:not(:last-child) {
  margin-bottom: 1px;
}

.chat > .output .highlight {
  color: blue;
}

.chat > input {
  height: 2.5rem;
  font-size: 1rem;
}

.chat .right {
  align-self: flex-end;
}

.sub {
  color: gray;
  font-size: .8rem;
}

.message {
  display: flex;
  max-width: 60%;
  padding: .45rem;
  border-radius: .5rem;
  word-break: break-all;
  background: gray;
  color: white;
  font-size: 1rem;
  align-items: center;
  min-height: fit-content;
}

.message:not(.right) {
  width: max-content;
}

.message.right {
  background: cornflowerblue;
}









@media only screen 
  and (max-width: 768px) {
    
    .chat {
      padding: .5rem 0 0 0;
    }
    
    .chat > * {
      padding: 0 1rem 0 1rem;
    }
}